// font-family: 'Lato', sans-serif;
// font-family: 'Sanchez', serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // border: 1px solid yellow;
}

html {
  //this defines what 1rem is. 1rem=10px    10px/16px = 62.5%
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(phone) {
    font-size: 80%;
  }

  @include respond(tab) {
    font-size: 85%;
  }

  @include respond(big-desktop) {
    font-size: 90%;
  }

  @include respond(huge) {
    font-size: 100%;
  }
}

body {
  position: relative;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: url(../img/1a.png) no-repeat center/cover,
    linear-gradient(to bottom right, $color-primary-dark, $color-primary-light)
      no-repeat center/cover,
    red;
  color: $color-secondary-light;
  overflow-x: hidden;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'main'
      'header'
      'nav'
      'aside';

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
      grid-template-areas:
        'header header'
        'nav main'
        'nav main'
        'nav aside';
      padding-bottom: 5rem;
      max-height: 900px;
      height: 88vh;
    }
  }
}

.backgrund-huge {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0rem;
  right: -45rem;
  background: url(../img/1.png) no-repeat center/cover;
  display: none;

  @include respond(huge) {
    display: block;
  }
}
