.margin-top-big {
  margin-top: 3rem;

  @include respond(big-desktop) {
    margin-top: 2.5;
  }

  @include respond(huge) {
    margin-top: 6.5rem;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    @include style-link-text;
    text-transform: uppercase;
    padding: 2rem 3.7rem;
    display: inline-block;
    border-radius: 10rem;
    border: 1px solid $color-secondary-light;
    transition: transform 0.2s ease-in;
    position: relative;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-primary-deep-dark, 0.3);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-primary-deep-dark, 0.2);
    }

    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s ease-in-out;
      opacity: 1;
      background-color: $color-primary-dark;
    }

    &:hover::after {
      transform: scale(1.5, 1.7);
      opacity: 0;
      background-color: $color-secondary-light;
    }
  }

  &--animation {
    animation: movetop 0.5s 0.75s ease-out both;
  }
}

.site-header {
  grid-area: site-header;
  font-size: 2rem;
  text-transform: uppercase;
  color: $color-secondary-dark;
  letter-spacing: 0.5rem;
  position: relative;

  &::after {
    content: 'about me';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.2;
    font-size: 4rem;
    color: $color-secondary-dark;
    width: 100%;
    animation: site-header 2s 0.2s both;
  }
}
