.footer {
  height: 10%;
  text-align: center;
  background-color: $color-primary-deep-dark;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clear: both;
  padding: 1.5rem 2rem;

  &__paragraph {
    opacity: 0.3;
  }

  //to move footer to the bottom of a page in tablet portrait mode
  @media (orientation: portrait) and (min-width: 700px) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
