.footer {
  height: 10%;
  text-align: center;
  background-color: $color-primary-deep-dark;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clear: both;
  padding: 1.5rem 2rem;

  &__paragraph {
    opacity: 0.3;
  }

  @include respond(phone) {
    padding: 3rem;
  }

  @include respond(tab) {
    padding: 1.5rem 2rem;
  }
}
