//colors:
$color-primary-deep-dark: #2d2b3a;
$color-primary-dark: #464159;
$color-primary-hover: #56506d;
$color-primary-light: #6c7b95;
$color-secondary-dark: #8df1f5;
$color-secondary-light: #e9fcf2;

//font-size:
$default: 1.6rem;
