.about-container {
  padding: 6rem 0 0 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'site-header'
    'about-main'
    'about-aside'
    'nav';

  @include respond(tab) {
    padding: 3rem;
    height: 88vh;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-areas:
      'site-header site-header'
      'nav about-main'
      'about-aside about-aside';
  }

  @include respond(huge) {
    padding: 5rem;
    height: 88vh;
    text-align: left;
  }
}

.about-main {
  grid-area: about-main;
  margin-top: 3rem;

  @include respond(tab) {
    margin-top: 1rem;
    display: flex;
  }

  &__description {
    padding: 0 3rem;

    @include respond(tab) {
      border-left: 0.3rem solid rgba($color-secondary-light, 0.4);
    }

    span {
      display: none;

      @include respond(phone) {
        display: inline;
      }
    }
  }

  &__title {
    margin-top: -1rem;
    font-size: 3rem;
  }

  &__para {
    font-size: 1.2rem;
    line-height: 200%;
    text-align: justify;
    margin-bottom: 1rem;

    @include respond(tab) {
      font-size: 1rem;
    }

    &:first-of-type {
      text-indent: 3rem;
    }
  }
}

.about-aside {
  grid-area: about-aside;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;

  @include respond(tab) {
    margin-top: 0;
    padding: 0 3rem;
  }

  &__item {
    width: 3.5vw;
    height: 3.5vw;
    min-width: 50px;
    min-height: 50px;
    font-size: 2rem;
    margin: 1rem;
    border: 2px solid $color-secondary-light;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
