.animation {
  grid-area: animation;

  @include respond(tab) {
    margin-top: 3rem;
  }

  @include respond(huge) {
    margin-top: 5rem;
  }

  &__item {
    margin: 0 auto;
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    background: #fff;
    background: url(../img/02.png) center/cover;
    box-shadow: 0 1rem 4rem rgba($color-primary-deep-dark, 0.5);

    @include respond(tab) {
      width: 23vw;
      height: 23vw;
      max-width: 300px;
      max-height: 300px;
    }
  }
}

.header {
  grid-area: header;
  margin-right: auto;
  margin-left: auto;

  @include respond(tab) {
    width: 80%;
  }

  .description {
    text-align: center;

    @include respond(tab) {
      text-align: left;
    }

    &__main {
      font-family: 'Roboto Mono', monospace;
      font-size: 3.7rem;
      text-transform: uppercase;
      animation: moveRight 1s ease-in-out both;
      padding: 0 2rem;

      @include respond(tab) {
        padding: 0;
      }

      @include respond(huge) {
        font-size: 4rem;
      }
    }

    &__paragraph {
      animation: moveLeft 1s ease-in-out both;
      padding: 0 2rem;
      font-weight: 100;
      letter-spacing: 5px;
      font-size: 1.3rem;

      @include respond(tab) {
        padding: 0;
      }

      @include respond(huge) {
        font-size: 2rem;
      }
    }
  }

  #watch {
    display: none;
    position: fixed;
    top: 5rem;
    right: 2rem;
    font-size: 3rem;
    font-weight: 100;

    @include respond(tab) {
      display: block;
    }

    @include respond(huge) {
      right: 5rem;
    }
  }
}

main {
  grid-area: main;

  .projects {
    text-align: center;
    font-size: 1.4rem;
  }

  .feature {
    @include respond(huge) {
      margin-top: 3rem;
    }

    a {
      @include style-link-text;
    }

    &__item {
      padding: 2.7rem;
      background: linear-gradient(
        to bottom right,
        $color-primary-dark,
        $color-primary-light
      );
      color: $color-secondary-light;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      transition: all 0.3s ease-in-out;

      @include respond(tab) {
        background: transparent;
        padding: 1.5rem;
        font-weight: 100;
        font-size: 1rem;
        width: 50%;
        margin: 0 auto;
      }

      &:hover {
        background: $color-primary-light;
        color: $color-secondary-dark;

        @include respond(tab) {
          border-radius: 6px;
        }
      }
    }
  }
}

aside {
  grid-area: aside;

  .socials {
    background: $color-primary-dark;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab) {
      background: transparent;
      margin: 2rem auto;
      width: 50%;
      margin: 0 auto;
    }

    &__item {
      @include style-link-text;
      text-align: center;
      padding: 2.5rem 1rem;
      color: $color-secondary-light;
      transition: all 0.2s ease-in-out;
      width: 100%;

      @include respond(tab) {
        padding: 1rem 2rem;
      }

      &:first-child i {
        font-size: 2.8rem;
      }

      &:hover {
        color: $color-secondary-dark;
        background: $color-primary-hover;

        @include respond(tab) {
          color: $color-secondary-dark;
          background: transparent;
        }
      }
    }
  }
}
