.home-container {
  grid-template-areas:
    'animation'
    'header'
    'main'
    'nav'
    'aside';

  @include respond(tab) {
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      'header header'
      'main animation'
      'nav animation'
      'aside animation';
  }
}

.animation {
  grid-area: animation;
  padding: 6rem;

  @include respond(tab) {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4rem;
  }

  &__item {
    margin: 0 auto;
    width: 45vw;
    height: 45vw;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    background: #fff;
    background: url(../img/02.png) center/cover;
    box-shadow: 0 1rem 4rem rgba($color-primary-deep-dark, 0.5);

    @include respond(tab) {
      width: 23vw;
      height: 23vw;
    }
  }
}

.header {
  grid-area: header;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 1rem;
  overflow: hidden;

  @include respond(tab) {
    padding: 2rem 5rem;
    margin-left: 0;
  }

  @include respond(huge) {
    padding: 3rem 8rem;
    margin-left: 0;
  }

  .description {
    text-align: center;

    @include respond(tab) {
      text-align: left;
    }

    &__main {
      font-family: 'Roboto Mono', monospace;
      font-size: 3.7rem;
      text-transform: uppercase;
      animation: moveRight 1s ease-in-out both;
      color: $color-secondary-dark;

      @include respond(tab) {
        font-size: 4rem;
      }
    }

    &__paragraph {
      animation: moveLeft 1s ease-in-out both;
      font-weight: 100;
      letter-spacing: 5px;
      font-size: 1.3rem;

      @include respond(tab) {
        font-size: 1.5rem;
      }
    }
  }

  #watch {
    display: none;
    position: fixed;
    top: 5rem;
    right: 2rem;
    font-size: 3rem;
    font-weight: 100;

    @include respond(tab) {
      display: block;
    }

    @include respond(huge) {
      right: 5rem;
    }
  }
}

.projects {
  grid-area: main;
  padding: 3rem;
  font-size: 2rem;

  @include respond(tab) {
    padding: 1rem;
    font-size: 1.2rem;
  }

  @include respond(huge) {
    padding: 2rem;
  }
}

aside {
  grid-area: aside;
  height: 100%;

  @include respond(tab) {
    width: 55%;
    margin: 0 AUTO;
  }

  .socials {
    background: $color-primary-dark;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab) {
      background: transparent;
    }

    &__item {
      @include style-link-text;
      text-align: center;
      padding: 2.5rem 1rem;
      color: $color-secondary-light;
      transition: all 0.2s ease-in-out;
      width: 100%;

      &:first-child i {
        font-size: 2.8rem;
      }

      &:hover {
        color: $color-secondary-dark;
        background: $color-primary-hover;

        @include respond(tab) {
          color: $color-secondary-dark;
          background: transparent;
        }
      }
    }
  }
}
