.project-container {
  grid-template-areas:
    'site-header'
    'project-main'
    'nav';

  @include respond(tab) {
    text-align: left;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'site-header site-header'
      'nav project-main';
  }
}

.project-main {
  grid-area: project-main;

  &__description {
    padding: 1rem 0 6rem 1.5rem;
    margin: 0 auto;
    overflow-y: auto;
    text-align: left;

    @include respond(tab) {
      padding: 0 3.5rem;
      margin: 0;
    }

    @include respond(huge) {
      padding: 2rem;
    }
  }
}

.details {
  .summary {
    display: block;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    border-bottom: 2px solid;
    transition: 0.3s;

    &:focus {
      outline: none;
    }
  }

  &__wrapper {
    // display: flex;
    padding: 0 20px;
    margin-top: 1rem;
    position: relative;
  }

  &__img {
    max-width: 120px;
    width: 100%;
    margin-left: 1rem;
    transform: translateY(-4rem);
    position: absolute;
    right: 0;
    top: 0;

    @include respond(tab) {
      max-width: 150px;
      transform: translateY(-6rem);
    }

    @include respond(huge) {
      max-width: 200px;
    }
  }

  &-text {
    width: 65%;
    min-height: 180px;

    @include respond(tab) {
      width: 80%;
      min-height: 170px;
    }

    @include respond(huge) {
      width: 75%;
      min-height: 250px;
    }
  }

  &-text__head {
    font-weight: 300;
  }

  &-text__span {
    margin-right: 1rem;
    text-transform: uppercase;
    color: $color-secondary-dark;
  }

  &-text__footer {
    @include style-link-text;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-secondary-dark;
    }
  }

  &__para {
    color: $color-tertiary-light;
    line-height: 180%;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.details[open] {
  .summary {
    border: 0;

    &:focus {
      outline: none;
    }
  }

  .summary:not(.first) {
    margin-top: 2.5rem;
  }

  .details-text {
    opacity: 0;
    animation: showContent 0.6s 0.2s forwards;
  }

  .details__img {
    opacity: 0;
    animation: showContent 0.6s 0.3s forwards;
  }
}
